In [6]:
import pandas as pd
notaSemillero=pd.DataFrame({'Nombres':['pedro','darden','leidy','luis','martha',
                                         'andrea','carlos','felipe','andres','julian'],
                           'Semestre' :[10,9,7,8,10,9,10,8,9,8]})
print(notaSemillero)

  Nombres  Semestre
0   pedro        10
1  darden         9
2   leidy         7
3    luis         8
4  martha        10
5  andrea         9
6  carlos        10
7  felipe         8
8  andres         9
9  julian         8

In [9]:
notaSemillero['Nota1']=3
notaSemillero

  Nombres  Semestre  Nota1
0   pedro        10      3
1  darden         9      3
2   leidy         7      3
3    luis         8      3
4  martha        10      3
5  andrea         9      3
6  carlos        10      3
7  felipe         8      3
8  andres         9      3
9  julian         8      3

In [12]:
notaSemillero['Nota2']=[3.1,4.2,3.3,4.5,4,4,3.8,5,4,3.1]
notaSemillero

  Nombres  Semestre  Nota1  Nota2
0   pedro        10      3    3.1
1  darden         9      3    4.2
2   leidy         7      3    3.3
3    luis         8      3    4.5
4  martha        10      3    4.0
5  andrea         9      3    4.0
6  carlos        10      3    3.8
7  felipe         8      3    5.0
8  andres         9      3    4.0
9  julian         8      3    3.1

In [14]:
notaSemillero.insert(4,'Ciudad',['Manizales','Pereira','Armenia','Cordoba','Cali',
                                 'Popayan','Manizales','Medellin','Pereira','Manizales'])
notaSemillero

  Nombres  Semestre  Nota1  Nota2     Ciudad
0   pedro        10      3    3.1  Manizales
1  darden         9      3    4.2    Pereira
2   leidy         7      3    3.3    Armenia
3    luis         8      3    4.5    Cordoba
4  martha        10      3    4.0       Cali
5  andrea         9      3    4.0    Popayan
6  carlos        10      3    3.8  Manizales
7  felipe         8      3    5.0   Medellin
8  andres         9      3    4.0    Pereira
9  julian         8      3    3.1  Manizales

In [20]:
notaSemillero=notaSemillero.assign(Departamento=['Caldas','Risaralda','Quindio','Monteria','Valle del Cauca',
                                 'Cauca','Caldas','Antioquia','Risaralda','Caldas'])
notaSemillero

  Nombres  Semestre  Nota1  Nota2     Ciudad     Departamento
0   pedro        10      3    3.1  Manizales           Caldas
1  darden         9      3    4.2    Pereira        Risaralda
2   leidy         7      3    3.3    Armenia          Quindio
3    luis         8      3    4.5    Cordoba         Monteria
4  martha        10      3    4.0       Cali  Valle del Cauca
5  andrea         9      3    4.0    Popayan            Cauca
6  carlos        10      3    3.8  Manizales           Caldas
7  felipe         8      3    5.0   Medellin        Antioquia
8  andres         9      3    4.0    Pereira        Risaralda
9  julian         8      3    3.1  Manizales           Caldas